// Body
$body-bg: #16262E;

$theme-colors: (
secondary: #007991
);

$link-color: map-get($theme-colors, "secondary");

$card-border-color: map-get($theme-colors, "secondary");

$card-border-width: 3px;
